.city-filter {
  display: block;
  font-family: @font-family;

  h5 {
    background-color: @secondary-color;
    color: @secondary-contrast-color;
    margin: 0;
    padding: 0.6rem 0.5rem;
    font-weight: normal;
    border-radius: @border-radius @border-radius 0 0;
  }

  select {
    width: 100%;
    height: 2.8rem;
    padding: 0.5rem;
    background-color: @primary-contrast-color;
    color: @text-color;
    border: 5px solid @secondary-color;
    border-radius: 0 0 @border-radius @border-radius;

    option {
      background-color: @primary-contrast-color;
      color: @primary-color;
    }
  }
}
