.leaflet-popup-content-wrapper {
  border-radius: @border-radius;
  padding: 0;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 0.3rem;
  color: @primary-contrast-color;

  &:hover {
    color: mix(@primary-contrast-color, @primary-color, 75%);
  }
}

.leaflet-fade-anim .leaflet-popup {
  transition: none;
}

.popup {
  font-family: @font-family;
  background-color: @primary-contrast-color;
  color: @text-color;
  border-radius: @border-radius;

  h4 {
    background-color: @primary-color;
    color: @primary-contrast-color;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: @border-radius @border-radius 0 0;
  }

  .popup-content {
    text-align: center;
    padding: 0.5rem 1rem;

    .popup-address {
      margin: 0.5rem 0;
    }

    .popup-street-address {
      display: block;
    }

    .popup-postal-code {
      display: inline-block;
      margin-right: 0.3rem;
    }

    .popup-url a {
      color: @primary-color;
      text-decoration: none;

      &:hover {
        color: mix(@primary-color, @primary-contrast-color, 75%);
      }
    }
  }
}
